{% extends "app.html" %}
{% block content %}
<h1>TLS/SSL Test Portal</h1>
{% for message in get_flashed_messages() %}
<div class="errormsg">{{ message }}</div>
{% endfor %}
<form method="POST">
    <table>
        <tr><td>Hostname/IP:</td><td><input type="text" name="host"></td></tr>
        <tr><td>Port:</td><td><input type="number" name="port" min="0" max="65535" value="443"></td></tr>
        <tr><td>Use STARTTLS:</td><td><input type="checkbox" name="starttls" value="yes"></td></tr>
        <tr><td>STARTTLS Protocol:</td><td>
            <select name="protocol">
                <option value="ftp">ftp</option>
                <option value="smtp">smtp</option>
                <option value="pop3">pop3</option>
                <option value="imap">imap</option>
                <option value="xmpp">xmpp</option>
                <option value="telnet">telnet</option>
                <option value="ldap">ldap</option>
            </select>
    </table>
    <input type="submit" value="Perform SSL Check">
</form>
{% endblock %}
